.profile-section {
  background-color: rgb(255, 255, 255);
  color: white;
  width: 85%;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 5px 5px grey
}

.profile-info-title {
  background:  darkviolet;
  border-radius: 5px;
  width: 100%;
  margin: auto;
} h2 {
  padding: 0.2rem;
}
.avatar-pic {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  border: 5px solid mediumorchid;
  display: inline-block;
  margin: 0 1rem 0 1rem;
  padding: 0.1rem;
}

.profile-general {
  padding: 1rem;
  border-radius: 20px;
  margin-top: 0;
}

.profile-text {
  display: inline-block;
  margin: 0 1rem 1rem 1rem;
  text-align: left;
  vertical-align: top;
  font-size: 16px;
  padding-left: 0.2rem;
  width: 60%;
}

.profile-text h3 {
  margin: 0;
  padding: 0.2rem 0 0.2rem 0.5rem;
  text-align: left;
  font-weight: 400;
  width: 100%;
}

.even {
  background-color: mediumorchid;
} a {
  color: white;
}
.odd {
  background-color: rgb(216, 191, 216,0.4);
  color: black;
}


a:hover {
  color: aqua;
  background-color: indigo;
}

.profile-text2 {
  width: 80%;
  margin:auto;
  border-radius: 10px;
  text-align: left;
}
.profile-text2 h3 {
  margin: 0;
  font-weight: 400;
  padding: 0.2rem 0.2rem 0.3rem 0.5rem;
}

.hrule {
  opacity: 80%;
  width: 100%;
}

.top-element {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bottom-element {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.recent-activities {
  margin-top:0;
  border-radius: 5px;
  width: 100%;
}

.odd img {
  width: 16px;;
  height: 16px;
  vertical-align: center;
}

.even img {
  width: 16px;;
  height: 16px;
  vertical-align: center;
}
