.action-section {
  background-color: rgb(255, 255, 255);
  color: white;
  width: 85%;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 5px 5px grey
}

.action-info-title {
  background:  darkviolet;
  border-radius: 5px;
  width: 100%;
  margin: auto;
} h2 {
  padding: 0.2rem;
}
.text-area {
  background-color: rgb(216, 191, 216,0.4);
  padding: 0.5rem;
  width: 85%;
  margin: auto;
  border-radius: 10px;
}

.erraction {
  color: gold;
  background-color: rgb(0,0,0,0.8);
  width: 50%;
  border-radius: 5px;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
  padding: 0.2rem;
}
