.stats-section {
  background-color: rgb(255, 255, 255);
  color: white;
  width: 85%;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 5px 5px grey
}

.stats-info-title {
  background:  darkviolet;
  border-radius: 5px;
  width: 100%;
  margin: auto;
} h2 {
  padding: 0.2rem;
}
